.historicaldatadaily
{
    background-color: rgba(0,0,0, .25);
}

.historicaldatacharts
{
    background-color: rgba(0,0,0, .25);
    margin-top: 10px;
}

canvas{
    width: 100%;
}

.dateselect
{
    margin-top:10px;
    margin-bottom: 10px;
}